<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, its name being {{ serverName }}</p>
<ng-template #noServer>
    <p>No Server was created!</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>

<hr>

<button class="btn" (click)="displayDetails()">Display Details - Date (Number of Clicks)</button>
<p *ngIf="details">Secret Password = sunflower</p>
<div *ngFor="let click of clicks; let i = index" [ngStyle]="{backgroundColor: i >= 4 ? 'black' : transparent}" [ngClass]="{'white-bold-text': i >= 4}">{{ click }}</div>

<hr>

<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="userName">
<p [innerText]="userName"></p>

<button class="btn btn-danger" [disabled]="userName === ''" (click)="userName = ''"><strong>Reset</strong></button>